body {
    background: linear-gradient(301deg, rgba(0, 255, 0, 1) 0%, rgba(255, 254, 0, 1) 90%) black;
    min-height: 100vh;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
}
li {
    border: solid black;
    padding: 10px;
    margin: 5px 5px;
    background-color: white;
}
