body {
    background: linear-gradient(301deg, rgba(0, 255, 0, 1) 0%, rgba(255, 254, 0, 1) 90%) black;
    min-height: 100vh;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
}
li {
    border: solid black;
    padding: 10px;
    margin: 5px 5px;
    background-color: white;
}
h2 {
    text-align: center;
}
.span {
    font-size: 30px;
    margin-left: 10px;
    color: black;
}
a {
    text-decoration-color: black;
}
img{
    display: block;
    margin: auto;
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 50px;
}
@media (pointer:none),
(pointer:coarse) {
  .span {
    font-size: 50px;
  }
}